:host {
    display: block;
    color:beige;
  }
  
  mat-list{
    background: linear-gradient(to bottom,#424242,);
    //height: 100vh;
    position: relative;
  }
  
  mat-list-item {
    color: #fff;
  
    &:hover {
      background-color: rgba($color: red, $alpha: 0.1);
      cursor: pointer;
    }
  
    &.active {
      background-color: rgba($color: red, $alpha: 0.1);
    }
  }
  
  