.main-body {
    display: flex;
    flex-direction: column;
  }
  
  .button-container {
    margin-bottom: 16px; /* Adjust margin as needed */
  }
  
  .mat-form-field {
    margin-bottom: 16px; /* Adjust margin as needed */
  }
  